#bg{
    background: rgb(47, 29, 104);
    background-image: url(../images/角色展示-removebg.png); 
    background-attachment: fixed;
    background-size: 1818px 1480px;
    background-position-x: center;
    background-position-y: -370px;
    display: inline-block;
}

#bomb{
    position: absolute;
    top: 10%;
    right: 33%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: crimson;
    cursor: pointer;
}

#boom{
    position: absolute;
    top: 8%;
    right: 8%;
    opacity: 0;
}

#hack{
    position: absolute;
    top: 10%;
    right: 32%;
    opacity: 0;
}

#avatar{
    text-align: center;
}

#text{
    text-align: center;
}

#fakeBack{
    position: absolute;
    top: 0%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    opacity: 0;
    cursor: pointer;
}

#truth{
    opacity: 0;
}
