/* 通用 */
body{
    background: rgb(47, 29, 104);
    background-image: url(../images/角色展示-removebg.png);
    background-attachment: fixed;
    background-size: 1818px 1480px;
    background-position-x: center;
    background-position-y: -370px;
    display: inline-block;
}

#leftButtons{
    width: 160px;
    position: fixed;
    bottom: 20%;
    text-align: center;
}

#rightButton{
    width: 150px;
    position: fixed;
    bottom: 50%;
    right: 0px;
    text-align: center;
}

#notice{
    color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content-bg{
    width: 850px;
    height: fit-content;
    margin: 25px 335px;  
    padding: 20px 0px;
    background-color: rgb(172, 161, 186, 0.5);
}

.content{
    width: 700px;
    height: fit-content;
    margin: 0px 75px;
    padding: 10px 0px;
    background-color: rgb(255, 255, 255, 0.8);

}

/* 主网页 */
.text0{
    width: 700px;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    font-family:cursive;
    font-size: 20px;
}

#stories{
    width: 650px;
    height:fit-content;
    margin: 0 auto;
}


/* 副网页1 */
#imgs{
    text-align: center;
    padding-bottom: 50px;
}



/* 副网页2 */
.text2{
    width: 700px;
    height: fit-content;
    overflow: auto;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:cursive;
    font-size: 40px;
}

table{
    width: 650px;
    border: thin solid black;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

th{
    border: thin solid black;
}

td{
    border: thin solid black;
    height: auto;
}

.bold{
    font-weight: bold;
}

.Img{
    width: 43px;
    height: 34px;
    cursor: pointer;
}
